body {
    font-family: 'Raleway', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;    
    box-sizing: border-box;
}

#bloc_page {
    margin: 0px 30px;
    width: 100%;
    height: 100%;
    /*border: 3px solid red;*/  
}

aside {
    width: 30%;   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f2f2f2;
    padding: 2%;
    /*border: 3px solid rgb(47, 0, 255);*/
}

.titre {
    width: 92%;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    /*border: 3px solid rgb(47, 0, 255);*/
}

.titre i {
    color: black;
    display: flex;
    align-self: center;
}

.populairex3 {
    /*background-color: pink;*/
    display: flex;
    align-items: center;
    flex-direction: column;
}

.populairex3 .cards {    
    width: 88%;
    height: 50%;  
    display: flex;
    border-radius: 16%;
    background-color: white;
    padding: 2% 2%;
    margin: 5%;
    /*border: 3px solid orange;*/
}

.cards {
    width: 100%;   
    /*border: 3px solid rgb(0, 255, 8);*/
}

.cards img {
    max-width: 40%;
    max-height: 40%;      
    object-fit: cover;
    border-top-left-radius: 21%;
    border-bottom-left-radius: 21%;
    /*border: 3px solid rgb(236, 9, 47);*/
}

i {
    color: #0065FC;
    font-size: 12px;
}

.etoile2 i:nth-child(5) {
    color: #cfc9c9;
}

.textetoile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0% 5% 3% 7%;
}




